button,
input:not([type="radio"]):not([type="checkbox"]) {
  border: 1px solid black;
  padding: 0.4rem 0.8rem;
  outline: none;
  width: 100%;
}

button {
  width: auto;
}

label {
  display: block;
}

.field {
  margin-bottom: 1.2rem;
}

form section footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button#menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: none;
  border: none;
  width: auto;
}
