input:not([type="radio"]):not([type="checkbox"]) {
  border: 1px solid black;
  padding: 0.4rem 0.8rem;
  outline: none;
  width: 100%;
}

label {
  display: block;
}

.field {
  margin-bottom: 1.2rem;
}

form section footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
