#logo {
  display: block;
  width: 20rem;
}

#logo img {
  width: 100%;
  border: none;
  display: block;
}

.hide {
  display: none !important;
}

header.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
