*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  display: block;
  font-family: sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  padding: 1.2rem;
}

grazily-applier {
  width: 45rem;
}

ol {
  padding-left: 4rem;
}
